<div id="use-status-view" class="hlftcolor2">
	<div class="point_status">クーポンを取得しました！</div>
	<div class="point_time">取得日時: <%=  exchangeDate  %></div>
</div>
<div class="btn_area_exchange">
	<div>
		<a href="#coupon/<%= couponId %>?uCoupId=<%= uCoupId %>">
			<button type="button" class="hl2_btbgcolor1 hl2_btftcolor1 use-coupon-btn">このクーポンを使う</button>
		</a>
	</div>
	<div><a href="#coupon"><button type="button" id="coupon-list-btn" class="hl2_btbgcolor2 hl2_btftcolor2">クーポン一覧を見る</button></a></div>
</div>
